<mat-card class="aem__section-cta">
  <form [formGroup]="employeeForm" (ngSubmit)="addNewEmployee()" class="aem__section-cta__container-cta__form">
    <mat-form-field [floatLabel]="employeeForm.value.floatLabel">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" placeholder="Enter Full Name" formControlName="fullName">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Enter Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" placeholder="Enter Phone Number" formControlName="phoneNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput type="text" placeholder="Enter Address" formControlName="address">
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="employeeForm.value.hideRequired" [floatLabel]="employeeForm.value.floatLabel">
      <mat-select required formControlName="companyCategory">
        <mat-option disabled selected>--Select Company--</mat-option>
        <mat-option value="CT&P Solutions">CT&P Solutions</mat-option>
      </mat-select>
      <mat-label><mat-icon>favorite</mat-icon> <b>Company Category</b> </mat-label>
    </mat-form-field>

    <div class="aem__section-cta__container-cta__form-gender">
      <label>Gender: </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="true">Male</mat-radio-button>
        <mat-radio-button value="false">FeMale</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="aem__section-cta__container-cta__form-btn" fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button type="submit" color="primary">Submit</button>
      <button mat-raised-button type="button" color="warn" (click)="goBackToList()">Cancel</button>
    </div>
  </form>
</mat-card>
