<div class="aem__section-cta">
  <div class="aem__section-cta__container">
    <div class="aem__section-cta__container-cta">
      <form class="aem__section-cta__container-cta__form">
        <div class="form-group">
          <label for="FullName">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="FullName1"
            aria-describedby="FullNameHelp"
            placeholder="Enter Full Name"
          />
          <!-- <small id="FullNameHelp" class="form-text text-muted"
            >We'll never share your name with anyone else.</small
          > -->
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <!-- <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          > -->
        </div>
        <div class="form-group">
          <label for="FullName">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="FullName1"
            aria-describedby="FullNameHelp"
            placeholder="Enter Phone Number"
          />
          <!-- <small id="FullNameHelp" class="form-text text-muted"
            >We'll never share your name with anyone else.</small
          > -->
        </div>
        <div class="form-group">
          <label for="FullName">Address</label>
          <input
            type="text"
            class="form-control"
            id="FullName1"
            aria-describedby="FullNameHelp"
            placeholder="Enter Address"
          />
          <!-- <small id="FullNameHelp" class="form-text text-muted"
            >We'll never share your name with anyone else.</small
          > -->
        </div>
        <div class="form-group">
          <label for="CompanyCategory">Company Category</label>
          <select class="form-control">
            <option selected="selected" hidden>--Select Company--</option>
            <option>CT&P Solutions</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Gender">Gender</label>
          <select class="form-control">
            <option selected="selected" hidden>--Select gender--</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="aem__container-table__btn">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-primary" (click)="goBackToList()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
