.aem__section-cta {
  padding: 4.8rem 10rem 12.8rem;
}

.aem__section-cta__container-cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.aem__section-cta__btn-primary{
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.aem__section-cta__container-cta__table {
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

aem__section-cta__container-cta__spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.aem__container-table {
  margin-top: 4%;
}

.fa {
  font-size: 12px;
}

.card-body {
  background-color: cornsilk;
}

.border {
  padding: 10px;
}

.btn {
  margin-right: 10px;
}

.fa {
  margin-right: 10px;
}

.fa-search .fa-edit .fa-remove {
  font-size: 5px;
  margin-right: 10px;
  padding: 0px;
}
