<div class="aem__section-cta" id="#tablecompany">
  <div class="aem__section-cta__container">
    <div class="aem__section-cta__container-cta">
      <div class="aem__section-cta__container-cta__header">
        <button
          class="aem__section-cta__btn-primary"
          routerLink="/Employees/Add"
          routerLinkActive="active-link"
          mat-button
        >
          <i id="myicon" class="fa fa-user"></i>New Employee
        </button>
      </div>
      <div class="aem__section-cta__container-cta__table">
        <table
          class="table table-bordered table-striped-columns"
          *ngIf="[employees && employees.length > 0]"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Company Category</th>
              <th>Gender</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees">
              <td>{{ employee.id }}</td>
              <td>{{ employee.fullName }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.phoneNumber }}</td>
              <td>{{ employee.address }}</td>
              <td>{{ employee.companyCategory }}</td>
              <td>{{ employee.gender }}</td>
              <td>
                <button class="btn btn-sm btn-info">
                  <i class="fa fa-search"></i>Details
                </button>
                <button class="btn btn-sm btn-warning">
                  <i class="fa fa-edit"></i>Edit
                </button>
                <button class="btn btn-sm btn-danger" (click)="DeleteEmployee(employee.id)">
                  <i class="fa fa-remove"></i>Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="[!employees || employees.length <= 0]">No Employee Found</p>
      </div>
    </div>
  </div>
</div>
