.aem__section-cta{
    padding: 4.8rem 0 12.8rem;
    background: var(--color-footer);
    /* background: rgba(6, 30, 56, 1); */

    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.aem__section-cta__container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.aem__section-cta__container-cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
}

.aem__section-cta__container-cta__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.form-group label{
    font-family: var(--font-family);
    color: #fff;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.form-group input, select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group input::placeholder{
    color: #aaa;
}

.aem__section-cta__container-cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.aem__container-table__btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
}

.btn{
    width: 100%;
    padding: 1.4rem;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 12px;
    color: #fdf2e9;
    align-self: end;
    background-color: #45260a;
    cursor: pointer;
}

.aem__container-table__btn button:link,
.aem__container-table__btn button:visited{
    padding: 1.2rem 2.4rem;
    background-color: #FF4820;
}

.aem__container-table__btn button:hover,
.aem__container-table__btn button:active{
    color: #FF4820;
}



