<mat-toolbar color="purple-green" class="aem__navbar sticky">
    <div class="mat-toolbar-row stick-trick">
        <div class="aem__navbar-links_logo">
            <img [src]="logo" alt="logo-image">
        </div>
        <div class="aem__navbar-links_container">
            <div class="aem__navbar-links_container-list">
                <a class= "mat-list-item" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a id="tablecompany" class="mat-list-item" routerLink="Company" routerLinkActive="active-link">Company</a>
                <a class="mat-list-item" routerLink="Employees" routerLinkActive="active-link">Employee</a>
            </div>
        </div>
        <div class="aem__navbar-cta">
            <button mat-button class="aem__navbar-cta__Sign-in">Sign in</button>
            <button mat-raised-button class="aem__navbar-cta__Sign-up">Sign up</button>
        </div>
    </div>
</mat-toolbar>


