<div class="aem__navbar sticky">
    <div class="aem__navbar-links stick-trick">
        <div class="aem__navbar-links_logo">
            <img [src]= "logo" alt="logo-image">
        </div>
        <div class="aem__navbar-links_container">
            <div class="aem__navbar-links_container-list">
                <li><a class="aem__navbar-links_container-list" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li><a id="#tablecompany" class="aem__navbar-links_container-list" routerLink="Company" routerLinkActive="active-link">Company</a></li>
                <li><a class="aem__navbar-links_container-list" routerLink="Employees" routerLinkActive="active-link">Employee</a></li>
            </div>
        </div>
        <div class="aem__navbar-cta">
            <li>Sign in</li>
            <button type="button">Sign up</button>
        </div>
        <!-- <div class="aem__navbar-menu">
            <button class="aem__navbar-menu_btn__mobile-navbar"><i class="fa fa-list icon-mobile-navbar"></i></button>
            <button class="aem__navbar-menu_btn__mobile-navbar"><i class="fa fa-x-lg icon-mobile-navbar"></i></button>
        </div> -->
    </div>
</div>  
