.aem__navbar {
  height: 9.6rem;
  padding: 0rem 2rem;
}

.mat-toolbar {
  position: fixed;
  z-index: 999;
}

.sticky .stick-trick {
  width: 100%;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.mat-toolbar .mat-toolbar-row {
  padding: 2rem 6rem;
  height: 9.6rem;
}

.aem__navbar-links_logo {
  margin-right: 2rem;
}

.aem__navbar-links_logo img {
  width: 6rem;
  height: 6rem;
}

.aem__navbar-links_container {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aem__navbar-links_container-list {
  display: flex;
  gap: 3.2rem;
}

.aem__navbar-links_container-list a.mat-list-item {
  margin: 0 3rem;
}

.aem__navbar-links_container-list a.mat-list-item:link,
.aem__navbar-links_container-list a.mat-list-item:visited {
  font-family: var(--font-family);
  display: inline-block;
  text-decoration: none;
  color: #000;
  line-height: 2.5rem;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.aem__navbar-links_container-list a.mat-list-item:hover,
.aem__navbar-links_container-list a.mat-list-item:active {
  color: #cf7110;
}

.aem__navbar-cta button {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 3rem;
  font-weight: 700;
  font-family: var(--font-family);
}

.aem__navbar-cta__Sign-up {
  background: var(--gradient-text);
  text-transform: capitalize;
  font-size: 1.8rem;
  line-height: 2.5rem;
  outline: none;
  cursor: pointer;
}

.aem__navbar-cta__Sign-in {
  background: var(--gradient-bar);
  text-transform: capitalize;
  font-size: 1.8rem;
  line-height: 2.5rem;
  outline: none;
  cursor: pointer;
}

.aem__navbar-cta button:hover,
.aem__navbar-cta button:active {
  color: #cf7110;
}


.icon-mobile-navbar{
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

@media screen and (max-width: 940px) {
    .aem__navbar-links_container {
        display: none;
    }

    .aem__navbar-cta{
        display: none;
    }

}

@media screen and (max-width: 700px) {
    .aem__navbar {
        padding: 2rem 4rem;
    }
}
